body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    background-color: snow;
    font-family: 'Gill';
}

p {
    font-family: inherit;
    font-size: medium;
    line-height: 1.4;
    color: #484848;
}

h1 {
    margin-top: 40px;
    
    font-family: inherit;
    font-size: x-large;
    font-weight: 500;
    color: #02274c;
}

h2 {
    margin-top: 30px;

    font-size: large;
    font-family: inherit;
    font-weight: 500;
    color: #02274c;
}

h3 {
    font-family: inherit;
    font-size: large;
    font-weight: 500;
    color: #02274c;
}

hr {
    color: #eeeeee;
}

.center-div {
    position: relative;
    justify-content: center;
    align-items: center;

    width: 40vw;
    padding: 10px;
    margin: 0 auto;
}