.wide-banner {
    justify-content: center;
    align-items: center;
    position: relative;
    
    width: 100vw;
    height: 400px;
}

.narrow-banner {
    justify-content: center;
    align-items: center;
    position: relative;
    
    width: 100vw;
    height: 300px;
}

.wide-banner img, .narrow-banner img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(1px);
}

.logo-area {
    font-family: 'Playfair';
    color: #002c6e;
    position: absolute;
    bottom: 5vh;
    left: 25vw;
}

.logo-large-text {
    font-family: inherit;
    font-size: 35px;
}

.logo-small-text {
    font-family: inherit;
    font-size: 20px;
}

.navbar {
    width: 100vw;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 8vw;
    padding: 10px 0;
    list-style: none;

    text-transform: uppercase;
    color: #02274c;
    font-family: 'Gill';
}

.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}