.item {
    margin-bottom: 40px;
    margin-top: 40px;
}

.item-header {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

.item-header img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    flex-shrink: 0;
    border: 2px solid #ddd;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-info h2 {
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a, .links span {
    text-decoration: none;
    color: #6c6c6c;
    font-weight: 200;
    font-family: inherit;
}

.item-bio {
    margin-top: 20px;
}