.two-panels {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.two-panels .center-div {
    width: min(40vw, 850px);
    margin: 0 30px;
}

.project-index {
    width: min(10vw, 200px);
    position: relative;
    top: 200px;
    flex-shrink: 0;
}

.project-index ul {
    list-style: none;
    padding-left: 0;
}

.project-index li {
    margin: 15px 0;
}

.project-index a {
    text-decoration: none;
    color: inherit;
}